* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.ul-wrapper {
  border-radius: 8px;
  padding: 24px;
  width: 500px;
  border: 1px solid #808080;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.item {
  list-style-type: none;
}

.item h2 {
  margin: 0 0 16px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.item li {
  list-style-type: none;
  width: 360px;
  height: 40px;
  border: 0.5px solid #808080;
  border-radius: 8px;
  padding: 8px 0 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-wrapper {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 44px;
  justify-content: center;
  padding: 100px 156px;
  list-style-type: none;
  flex-basis: calc((100% - 48px) / 3);
  background-color: #262626;
}
.image {
  object-fit: cover;
  border: 2px solid #fff;
}
.image:hover {
  transform: scale(1.1);
  transition: 0.9s ease;
}

.input-wrapper {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 136px;
  background-color: #f6f6fe;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 0 8px 16px;
  outline: none;
  margin: 0;
}

#name-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 5px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 16px;
}

.login-form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.labels {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input {
  max-width: 360px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #808080;
  margin-top: 8px;
  padding-left: 10px;
  outline: none;
  border-color: #808080;
}

button {
  margin-top: 8px;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.form-container {
  padding: 24px;
  max-width: 408px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.widget {
  border-radius: 8px;
  padding: 70px 75px;
  width: 345px;
  height: 280px;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 155px;
  height: 40px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  transition: background-color 0.6s ease;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}

.color {
  padding-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.main-div {
  border-radius: 8px;
  padding: 24px;
  width: 534px;
  height: 302px;
  border: 1px solid #808080;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boxes-container {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 134px;
  background-color: #f6f6fe;
  display: flex;
  gap: 44px;
}

.container {
  display: flex;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background-color: #f6f6fe;
  justify-content: center;
  margin-bottom: 16px;
}

.main-input {
  border: 1px solid #808080;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  height: 40px;
  margin: 0;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.6s ease, transform 0.6s ease;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
  background: #6c8cff;
}

.destroy-btn {
  background-color: #ff4e4e;
}

.destroy-btn:hover,
.destroy-btn:focus {
  transform: scale(1.05);
  background-color: #ff7070;
}
